.tableExtended-conteiner{
  max-width: 1360px;
  width:160%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "Inter";
}

.tableExtended-header{
  color: var(--gray-800, #3f3f3f);
  font-size: 12px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  border-radius: 4px;
  background: var(--background-section, #f2f2f2);
}

.tableExtended-row{
  width: 100%;
  height: 40px;
  display: grid;
  padding:0px 10px;
}

.tableExtended-row:not(.tableExtended-header){
  margin-top: 15px;
}

.tableExtended-row:last-child:not(.tableExtended-header){
  margin-bottom: 8px;
}

.tableExtended-column{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tableExtended-column:nth-child(2):not(.tableExtended-header){
  margin-left: 25px;
  background-color: #deede5;
  border-radius: 4px;
  max-width: 120px;
}

.tableExtended-column:last-child:not(.tableExtended-header){
  margin-left: 25px;
    border-radius: 4px;
    max-width: 120px;
    background: var(--blue, #0699d2);
    color: white;
    cursor: pointer;
}

.tableExtended-body{
  color: #616161;
  font-size: 12px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  background: var(--background-section, #f2f2f2);
}

.tableExtended-orange{
  width: 25px;
  height: 25px;
  background-color: #fe7c31;
  border-radius: 50%;
  margin-right: 8px;
}
.tableExtended-small-image{
  width: 40px;
  height: 40px;
}

.tableExtended-small-image:last-child{
  margin-left: 4px;
}

.tableExtended-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  width: 100%;
  height: 64px;
  border-radius: 0px 0px 5px 5px;
}

.tableExtended-prev-page{
  color: #585858;
  margin-right: 20px;
}

.tableExtended-page-button{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #d8d8d8;
  height: 20px;
  width: 20px;
  font-size: 12px;
  margin-inline: 5px;
}

.tableExtended-next-page{
  color: #585858;
  margin-left: 20px;
}