.rooms__top {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.rooms__title {
  color: #202020;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.blue__box {
  display: inline-block;
  height: 22px;
  width: 22px;
  background: #0699D2;
}