/* ActiveBalance.css */

/* Title */
.title {
  color: #4c4c4c;
  font-size: 18px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

/* GrayMy */
.graymy {
  margin-left: 40px;
  flex-direction: column;
  width: 450px;
  height: 80px;
  align-items: center;
  background: #f7f7f7;
}

/* Grayhoriz */
.grayhoriz {
  display: flex;
  flex-direction: column;
  width: 950px;
  height: 180px;
  background: #f7f7f7;
  padding-left: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

/* Grayvert */
.grayvert {
  display: flex;
  flex-direction: row;
  width: 820px;
  height: 80px;
  background: #f7f7f7;
  margin-top: 10px;
}

/* Grayvert1 */
.grayvert1 {
  display: flex;
  flex-direction: row;
  width: 820px;
  height: 80px;
  margin-top: 10px;
  margin-left: 330px;
}

/* Grayverttwo */
.grayverttwo {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  width: 820px;
  height: 80px;
  align-items: center;
  background: #f7f7f7;
}

/* Gray */
.gray {
  display: flex;
  width: 1020px;
  height: 100px;
  justify-content: space-around;
  align-items: center;
  background: #f7f7f7;
  margin-top: 10px;
}

/* Orange */
.orange {
  width: 240px;
  height: 80px;
  padding: 19px 15px;
  border-radius: 4px;
  background: var(--brandy, #fe7c31);
}

/* Blue */
.blue {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 60px;
  padding: 19px 15px;
  border-radius: 4px;
  background: var(--brandy, #0699D2);
  margin-right: 20px;
}

/* White */
.white {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 60px;
  padding: 19px 15px;
  border-radius: 4px;
  border-style: solid;
  border-color: #D8D8D8;
  border-width: 1px;
  background: #f7f7f7;
  margin-right: 45px;
}

/* Big */
.big {
  color: #fff;
  font-size: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
}

/* Bigs */
.bigs {
  color: #fff;
  font-size: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

/* Small */
.small {
  color: #fff;
  font-size: 12px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

/* BigB */
.bigb {
  color: #000;
  font-size: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
}

/* SmallB */
.smallb {
  color: #000;
  font-size: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
}

/* See */
.see {
  color: var(--gray-800, #3f3f3f);
  font-size: 12px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  text-align: right;
  cursor: pointer;
  margin-top: 10px;
}

/* Search */
.search {
  margin-top: 15px;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-left: 30px;
  width: 600px;
  height: 48px;
  border-radius: 4px;
  background: #D8D8D8;
  padding-left: 70px;
  color: #4c4c4c;
  font-size: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  background-size: 30px 25px;
  background-repeat: no-repeat;
  background-position: 530px center;
  cursor: pointer;
}