.blue__box {
  display: inline-block;
  height: 22px;
  width: 22px;
  background: #0699D2;
}

.submission__header {
  padding-top: 1rem;
  padding-left: 40px;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--900, #202020);
  font-family: Albert Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.submission__form {
  display: flex;align-items: center;
  margin-top: 1rem;
  gap: 1.5rem;
}

.submission__form__left {
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
}

.submission__form__right {
  padding-right: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
}

.submission__form__left input, .submission__form__right input {
  padding: 1.5rem;
  border-radius: 10px;
  border: 1px solid var(--400, #B1B1B1);
  background: var(--FFF, #FFF);
}

.submission__form__left input::placeholder, .submission__form__right input::placeholder {
  color: var(--800, #3F3F3F);
  font-family: Albert Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 14.5px; /* 96.667% */
}

.submission__required__top {
  position: relative;
}

.submission__required__top input:focus + .asterisk{
  display: none;
}

.submission__required__top span {
  position: absolute;
  top: 25px;
  color: red;
  left: 115px;
}

.submission__required__top > input {
  width: 100%;
}

