.authMarketplace-wrapper {
  width: 100%;
  height: 100%;
  background-color: white;

  display: grid;
  place-content: center;
}

.authMarketplace-checkBoxWrapper {
  position: relative;
}

.authMarketplace-checkBoxLabel {
  position: absolute;
  top: 0;
  left: 0;
  width: 42px;
  height: 26px;
  border-radius: 15px;
  background: #14aafe;

  cursor: pointer;
}

.authMarketplace-checkBoxLabel::after {
  content: '';
  display: block;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  margin: 3px;
  background: #ffffff;
  box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}

.authMarketplace-checkBox {
  opacity: 0;
  z-index: 1;
  border-radius: 15px;
  width: 42px;
  height: 26px;
  background: #14aafe;
}

.authMarketplace-checkBox:checked + .authMarketplace-checkBoxLabel {
  background: #14aafe;
}

.authMarketplace-checkBox:checked + .authMarketplace-checkBoxLabel::after {
  content: '';
  display: block;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  margin-left: 21px;
  transition: 0.2s;
}

.authMarketplace-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  margin-inline: auto;
  width: fit-content;
}

.authMarketplace-text {
  color: #3f3f3f;
  font-size: 18px;
  font-family: 'Inter';
  margin-inline: 15px;
}
