.popup-wrapper {
  width: 100vw;
  height: 100vh;
  max-width: 1920px;
  max-height: 1080px;
  background-color: #0000004c;

  position: absolute;
  z-index: 10000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: grid;
  place-content: center;

  font-family: 'Inter';
}

.popup-avatar {
  width: 28px;
  height: 28px;
  background-color: #fe7c31;
  border: 5px solid black;
  border-radius: 50%;
}

.popup-name {
  color: var(--gray-800, #3f3f3f);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  margin-left: 10px;
}

.popup-profileBox {
  display: flex;
  align-items: center;
  position: absolute;
  top: 8px;
  left: 16px;
}

.popup-popp {
  width: 515px;
  height: 520px;
  padding: 8px 16px;
  border-radius: 8px;
  background: #f3f3f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: relative;
}

.popup-closeText {
  color: var(--gray-800, #3f3f3f);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.popup-closeImage {
  margin-left: 10px;
}

.popup-closeBox {
  display: flex;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 16px;
  cursor: pointer;
}

.popup-infoBox {
  width: 100%;
  border-radius: 4px;
  background: #0699d2;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  row-gap: 10px;
  flex-wrap: wrap;
  margin-top: 80px;
}

.popup-infoText {
  width: 48%;
  color: var(--gray-900, #202020);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  border-radius: 4px;
  background: rgba(216, 216, 216, 0.5);
  padding: 8px;
}

.popup-groupInfo {
  width: 48%;
  display: inline-block;
  vertical-align: top;
  margin-top: 30px;
  padding: 8px;
  border-radius: 4px;
  background: var(--orange, #fe7c31);
  color: var(--gray-100, #ececec);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}

.popup-groupBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  border-radius: 4px;
  background: rgba(216, 216, 216, 0.5);
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  margin-top: 11.5px;
}

.popup-status {
  padding: 4px;
  background-color: #fdf8ce;
  color: #938406;
  border-radius: 4px;
}

.popup-description {
  width: 48%;
  display: inline-block;
  vertical-align: top;
  margin-top: 30px;
  margin-left: 4%;
}

.popup-descTitle {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}

.popup-desc {
  color: var(--gray-800, #3f3f3f);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  margin-top: 10px;
}

.popup-accept {
  padding: 8px 16px;
  border-radius: 4px;
  background: var(--orange, #fe7c31);
  border: none;
  color: var(--gray-100, #ececec);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-top: 15px;
  cursor: pointer;
}

.popup-negotiate {
  padding: 8px 16px;
  border-radius: 4px;
  background: var(--blue, #0699d2);
  border: none;
  color: var(--gray-100, #ececec);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-top: 15px;
  margin-left: 15px;
  cursor: pointer;
}