.marketplaceRegister-wrapper {
  width: fit-content;
}

.marketplaceRegister-title {
  color: #3f3f3f;
  font-size: 24px;
  font-family: "Inter";
  font-weight: 600;
  line-height: 44px;
  text-align: center;
  width: fit-content;
  margin-inline: auto;
}

.marketplaceRegister-under-title {
  color: #3f3f3f;
  font-size: 18px;
  font-family: "Inter";
  text-align: center;
  margin-top: 5px;
  width: fit-content;
  margin-inline: auto;
}

.marketplaceRegister-input {
  display: flex;
  width: 442px;
  height: 70px;
  padding: 8px 24px;
  border-radius: 10px;
  border: 1px solid var(--gray-400, #b1b1b1);
  margin-top: 15px;
  color: #3f3f3f;
  font-size: 15px;
  font-family: "Inter";
  line-height: 14.5px;
  margin-inline: auto;
}

.marketplaceRegister-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 28px;
  margin-bottom: 14px;
}

.marketplaceRegister-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 442px;
  height: 64px;
  padding: 8px 24px;
  border-radius: 10px;
  margin-top: 15px;
  margin-inline: auto;
  background-color: transparent;
  border: 1px solid var(--gray-800, #3f3f3f);
  color: var(--gray-800, #3f3f3f);
  font-size: 16px;
  font-family: "Inter";
  line-height: 14.5px;
  cursor: pointer;
}

.marketplaceRegister-submit:hover {
  background-color: #0699d2;
  color: white;
  border-color: #0699d2;
}

.marketplaceRegister-label {
  color: #3f3f3f;
  font-size: 20px;
  font-family: "Inter";
  cursor: pointer;
}

.marketplaceRegister-label:last-of-type {
  margin-left: 30px;
}

.marketplaceRegister-radio {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 10px;
}

.marketplaceRegister-error {
  color: #ae0505;
  font-size: 18px;
  font-family: "Inter";
  line-height: 40px;
}
