
.myroomsPublishedrooms-gray {
  display: flex;
  width: 620px;
  height: 100px;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  padding-right: 20px;
}

.myroomsPublishedrooms-orange {
  margin-right: 20px;
  width: 207px;
  height: 80px;
  padding: 19px 15px;
  border-radius: 4px;
  background: #fe7c31;
}

.myroomsPublishedrooms-big {
  color: #fff;
  font-size: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 10px;
}

.myroomsPublishedrooms-small {
  color: #fff;
  font-size: 12px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.myroomsPublishedrooms-white {
  width: 207px;
  height: 80px;
  padding: 19px 15px;
  border-radius: 4px;
  background: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.myroomsPublishedrooms-bigw {
  color: #000;
  font-size: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 10px;
}

.myroomsPublishedrooms-smallw {
  color: #000;
  font-size: 12px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}
