
.filterbyControlPanel-filter-wrapper {
    margin-bottom: 10px;
    align-items: center;
    width: 100%;
    height: 50px;
    display: flex;
    gap: 13px;
  }
  
  .filterbyControlPanel-select {
    font-size: 1rem;
    color: #3f3f3f;
    outline: none;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #d8d8d8;
    border-radius: 6px;
    background: var(--background-section, #f2f2f2);
    padding: 10px 10px;
    cursor: pointer;
  }
  
  .filterbyControlPanel-reset-btn {
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #d8d8d8;
    border-radius: 6px;
    background: var(--background-section, #f2f2f2);
    padding: 5px 20px;
    cursor: pointer;
    height: 30px;
  }
  
  .filterbyControlPanel-small-image {
    width: 15px;
    height: 15px;
  }
  
  .filterbyControlPanel-small-image:last-child {
    margin-left: 4px;
  }
  
  .filterbyControlPanel-add-room {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 48px;
    border-radius: 70px;
    background: var(--brandy, #fe7c31);
    cursor: pointer;
  }
  
  .filterbyControlPanel-add-room-text {
    color: #fff;
    display: flex;
    font-size: 18px;
    font-family: "Inter";
    font-style: normal;
    width: 82px;
    font-weight: 300;
  }
  
