.marketplaceAgency-wrapper {
  width: 100%;
  height: 100%;
  background-color: white;
  overflow: hidden;

  position: relative;

  display: flex;
}

.marketplaceAgency-aside {
  min-width: 22%;
  height: 100%;
  background-color: #f2f2f2;
  padding: 64px 28px;

  position: relative;
}

.marketplaceAgency-logo {
  margin-left: 28px;
}

.marketplaceAgency-navigation {
  margin-top: 120px;
}

.marketplaceAgency-logout {

  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 10px 20px;
  position: absolute;
  left: 50%;
  bottom: 100px;
  transform: translateX(-50%);
  font-size: 16px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  cursor: pointer;
}

.marketplaceAgency-userInfo {
  position: absolute;
  top: 60px;
  right: 50px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;

}

.marketplaceAgency-img {

  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 50%;
}

.marketplaceAgency-userTitle {

  color: #b3b3b3;
  font-size: 14px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.marketplaceAgency-organe {

  width: 30px;
  height: 30px;
  background-color: #fe7c31;
  margin-right: 10px;
  border-radius: 50%;
}

.marketplaceAgency-userName {

  color: #4c4c4c;
  font-size: 14px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}

.marketplaceAgency-settings {

  border-radius: 10px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: 200px;
  transform: translateX(-50%);
  font-size: 16px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  cursor: pointer;
}