.back__filter__btns {
  display: flex;
  width: 100%;
  bottom: -35px;
  z-index: 999999999;
  align-items: center;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
}

.back__btn, .filter__btn {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #202020;
  gap: 0.5rem;
  justify-content: center;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  background: #ECECEC;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.booking-filter-active-element {
  background: #0699D2!important;
  color: #FFFFFF!important;
}

.booking-filter-active-element > svg {
  fill: white;
}

.booking-filter-active-element:focus{
  outline: none;
}

